<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
	android:layout_width="match_parent"
    android:layout_height="match_parent">
	
	<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:paddingLeft="20dp"
    android:paddingRight="20dp"
    android:paddingTop="20dp">
		<TextView
			android:text="First name: *"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_width="match_parent"
			android:layout_height="wrap_content" />
		<EditText
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/add_first_name"
			android:layout_marginBottom="10dp"
			android:inputType="textPersonName"/>

		<TextView
			android:text="Patronymic: *"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_width="match_parent"
			android:layout_height="wrap_content" />
		<EditText
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/add_patronymic"
			android:layout_marginBottom="10dp"
			android:inputType="textPersonName"/>

		<TextView
			android:text="Last name: *"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_width="match_parent"
			android:layout_height="wrap_content" />
		<EditText
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/add_last_name"
			android:layout_marginBottom="10dp"
			android:inputType="textPersonName"/>

		<TextView
			android:text="Phone number: *"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_width="match_parent"
			android:layout_height="wrap_content" />
		<EditText
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/add_phone_number"
			android:layout_marginBottom="10dp"
			android:inputType="phone" />

		<TextView
			android:text="Address: *"
			android:textAppearance="?android:attr/textAppearanceMedium"
			android:layout_width="match_parent"
			android:layout_height="wrap_content" />
		<EditText
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:id="@+id/add_address"
			android:layout_marginBottom="10dp"
			android:inputType="textPostalAddress"
			android:imeOptions="actionDone" />

		<LinearLayout
			android:orientation="horizontal"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:weightSum="2">
			<Button
				android:text="Cancel"
				android:layout_width="wrap_content"
				android:layout_height="match_parent"
				android:id="@+id/contact_cancel_btn"
				android:layout_weight="1" />
			<Button
				android:text="Add"
				android:layout_width="wrap_content"
				android:layout_height="match_parent"
				android:id="@+id/contact_add_btn"
				android:layout_weight="1" />
		</LinearLayout>
	</LinearLayout>

</ScrollView>
