<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical"
        android:paddingStart="20dp"
        android:paddingEnd="20dp"
        android:paddingTop="20dp">
        <TextView
            android:text="Medium Text"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/full_name" />
        <ImageView
            android:src="@drawable/default_avatar"
            android:layout_width="wrap_content"
            android:layout_height="140dp"
            android:id="@+id/imageView1"
            android:layout_marginBottom="25dp"
            android:layout_marginLeft="0.0dp"
            android:layout_marginRight="0.0dp"
            android:layout_gravity="center"
            android:layout_marginTop="25dp" />
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
			android:weightSum="100">
			<LinearLayout
                android:orientation="vertical"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:paddingRight="20dp"
                android:showDividers="middle"
                android:divider="@drawable/empty_tall_divider"
				android:layout_weight="22">
                <TextView
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="First name:" />
                <TextView
                    android:text="Patronymic:"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content" />
                <TextView
                    android:text="Last name:"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content" />
            </LinearLayout>
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:showDividers="middle"
                android:divider="@drawable/empty_tall_divider"
				android:layout_weight="28">
                <TextView
                    android:text="Medium Text"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/first_name" />
                <TextView
                    android:text="Medium Text"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/patronymic" />
                <TextView
                    android:text="Medium Text"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/last_name" />
            </LinearLayout>
			<LinearLayout
                android:orientation="vertical"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:showDividers="middle"
                android:divider="@drawable/empty_tall_divider"
				android:layout_weight="22">
				<TextView
                    android:text="Phone number:"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content" />
				<TextView
                    android:text="Address:"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content" />
			</LinearLayout>
			<LinearLayout
                android:orientation="vertical"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:showDividers="middle"
                android:divider="@drawable/empty_tall_divider"
				android:layout_weight="28">
				<TextView
                    android:text="Medium Text"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/phone_number" />
				<TextView
                    android:text="Medium Text"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/address" />
			</LinearLayout>
        </LinearLayout>
    </LinearLayout>
</ScrollView>